body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color:#000000;
}

.nav-link svg {
    width: 20px;
    height: 20px;
    fill: #000000;
    margin-right: 5px;
    transition: fill 0.3s;
}

.nav-item svg {
    width: 24px;
    height: 24px;
    fill: #000000;
    transition: fill 0.3s;
}

@media (max-width: 768px) {
    .placeholder-img {
        height: 250px;
    }

    .nav-link {
        margin-left: 0;
        padding: 10px 0;
    }

    .hero img {
        width: 100%;
        max-height: 300px;
    }
}