body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    min-height: 100vh;
}

a {
    color:#000000;
}

@media (max-width: 768px) {
    .placeholder-img {
        height: 250px;
    }

    .nav-link {
        margin-left: 0;
        padding: 10px 0;
    }

    .hero img {
        width: 100%;
        max-height: 300px;
    }
}